* {
  box-sizing: border-box;
}
html {
  font-size: calc(18px + ((100vw - 600px) / 250));
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*MOBIL*/
@media (min-width: 700px) {
  h1 {
    font-size: 3.052rem;
    letter-spacing: -0.1rem;
    line-height: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    margin-top: 1em;
    font-weight: bold;
  }

  body {
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    font-weight: 400;
    line-height: 1.563;
    color: black;
    background-color: white;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #5e503f;
    border-radius: 5px;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
}
