* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*MOBIL*/
@media (min-width: 700px) {
  @font-face {
    font-family: "MinFantastiskeFont";
    src: url("fonts/") format("woff2");
  }

  body {
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    font-weight: 400;
    line-height: 1.563;
    color: black;
    background-color: white;
  }
}
